* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}

a {
    text-align: center;
    border: 2px solid purple;
    color:white;
    width: 12.4%;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(4, 246, 85);
}

main {
    flex-grow: 1;
    background-color: rgb(25, 33, 41);
}

article {
    background-color: white;
}

#dailygroup {
    flex-wrap: wrap;
}

.card {
    width: 225px;
    height: 350px;
    margin: 10px;
    border: 2px solid black;
    box-shadow: 1px 1px 12px 1px royalblue;
}

.card:hover {
    box-shadow: 1px 1px 15px 1px rgb(213, 222, 230);
}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    border: solid black;
    bottom: auto;    
}