@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}

nav > p {
    font-family: 'Caveat', Cursive, Helvetica;
    text-align: center;
    border: 1px solid purple;
    color:white;
    width: 14.3%;
}

nav > p:hover {
    border: 3px solid red;
    box-shadow: 1px 1px 10px 1px steelblue;
}

nav > p:active {
    border: 3px solid royalblue;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(4, 246, 85);
}

h1 {
    font-family: 'Caveat', Cursive, Helvetica;
    font-style: italic;
}

h2 {
    font-family: 'Caveat', Cursive, Helvetica;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0 2px 0;
    background-color: rgb(4, 246, 85);
}

main {
    flex-grow: 1;
    background-color: rgb(25, 33, 41);
}

article {
    background-color: white;
}

#dailygroup {
    flex-wrap: wrap;
}

.card {
    width: 230px;
    height: 355px;
    margin: 10px;
    border: 2px solid black;
    box-shadow: 1px 1px 12px 1px royalblue;
}

.card:hover {
    box-shadow: 1px 1px 15px 1px rgb(213, 222, 230);
}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p {
    color: black;
    width: 100%;
    padding: 1px 0 1px 0;
    bottom: auto;    
}